.room-selector {
  width: 20%;
  margin-bottom: 10px;
}

.room-selector-label {
  margin-bottom: 5px;
}
.dit-activity-buttons{
  align-items: center;
}
.btn {
  margin-left: 1.6%;
  margin-right: 1.6%;
  width: 30%;
}

.activity-edit-selector {
  margin-top: 10px;
}

.activity-edit-selector-label {
  margin-bottom: 10px;
}

#root {
  margin-top: 10px;
}

.plan-table {
  table-layout: fixed;
  margin-top: 20px;
  overflow-y: auto;
  text-align: center;
}

.plan-table-body > tr > th {
  
  white-space: nowrap;
}

.plan-table-body > tr > td {
  cursor: pointer;
  width: 17%;
}

.plan-table-body > tr > td:hover {
  background-color: #f5f5f5;
}
